{{define "privacy-policy"}}
{{template "header" .}}
			<main class="content">
				<div class="container-fluid p-0">
					<h1 class="h1 mb-1">{{.HeaderTitle}}</h1>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
<p>
This privacy policy ("policy") will help you understand how Packetflinger Industries ("us", "we",
"our") uses and protects the data you provide to us when you visit and use https://cloud.q2admin.com ("website ", "service").
</p>
<p>
We reserve the right to change this policy at any given time, of which you will be
promptly updated. If you want to make sure that you are up to date with the latest
changes, we advise you to frequently visit this page.
</p>
<h3>What User Data We Collect</h3>
<p>
When you visit the website, we may collect the following data:
<ul>
<li>Your IP address.</li>
<li>Your browser version</li>
<li>Your name and email address</li>
<li>Your avatar</li>
<li>Your public key</li>
</ul>
</p>
<h3>Why We Collect Your Data</h3>
<p>
We are collecting your data for several reasons:
<ul>
<li>Website functionality</li>
<li>To improve our services and products.</li>
<li>To contact you about your servers</li>
<li>To customize our website according to your preferences.</li>
</ul>
</p>
<h3>Safeguarding and Securing the Data</h3>
<p>
Packetflinger Industries is committed to securing your data and keeping it confidential.
Packetflinger Industries has done all in its power to prevent data theft, unauthorized access,
and disclosure by implementing the latest technologies and software, which help us
safeguard all the information we collect online.
</p>
<h3>Our Cookie Policy</h3>
<p>
Cookies are required for this site to function. The only data stored in cookies is a random session
identifier.
</p>
<p>
Please note that cookies don't allow us to gain control of your computer in any way.
</p>

<h3>Links to Other Websites</h3>
<p>
Our website may contains links that lead to other websites. If you click on these links
Packetflinger Industries is not held responsible for your data and privacy protection. Visiting
those websites is not governed by this privacy policy agreement. Make sure to read the
privacy policy documentation of the website you go to from our website.
</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
{{template "footer" .}}
		</div>
	</div>
	<script src="/static/js/app.js"></script>
</body>
</html>
{{end}}