{{define "my-servers"}}
{{template "header" .}}

<h1>Servers  <a type="button" class="btn btn-primary btn-sm" href="/add-server">Add</a></h1>
<p id="my-servers">
    <ul>
    {{range .Frontends}}
        <li><a href="/sv/{{.UUID}}/{{.Name}}">{{.Name}}</a></li>
    {{end}}
    </ul>
</p>

{{template "footer" .}}
{{end}}
