{{define "footer"}}
			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-muted" href="https://q2admin.com" target="_blank"><strong>CloudAdmin</strong></a> - <a class="text-muted" href="https://q2admin.com" target="_blank"><strong>Quake 2 Admin Control Panel</strong></a>								&copy;
							</p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="/privacy-policy" target="_blank">Privacy Policy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="/terms-of-service" target="_blank">Terms of Service</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
{{end}}
