{{define "my-servers"}}
{{template "header" .}}
			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">{{.HeaderTitle}}</h1>

					<div class="row">
						<div class="col-12">
{{if .Gameservers}}
	{{range .Gameservers}}
		{{template "server-list-item" .}}
	{{end}}
{{end}}
						</div>

					</div>

				</div>
			</main>

{{template "footer" .}}
		</div>
	</div>

	<script src="/static/js/app.js"></script>
	<script>
		fetch('/api/v1/GetMyServers', {
			method: 'GET',
			headers: {
				'Accept': 'application/json',
			},
		})
		.then(response => response.json())
		.then(response => {
			console.log(response.Servers[0].Name)
		})
		
		
		//
		/*console.log(JSON.stringify(response)))
		.then(updateServerTable(response))
		*/
		function updateServerTable(data) {
			console.log(data.Servers[0].Name)
		}
	</script>
</body>
</html>
{{end}}