{{define "server-view"}}
{{template "header" .}}
			<main class="content">
				<div class="container-fluid p-0">
					<h1 class="h3 mb-3">{{.HeaderTitle}} <a href="#"><i class="align-middle me-1" data-feather="edit"></i></a></h1>
					<div class="row">
						<div class="col-12 col-md-6 col-xxl-3 d-flex">
							<div class="card">
								<div class="card-header">
                                    Players Connected
								</div>
								<div class="card-body">
                                    Player Connected
								</div>
							</div>
						</div>
                        <div class="col-12 col-md-6 col-xxl-3 d-flex">
                            <div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">

								</div>
							</div>
                        </div>
					</div>
				</div>
			</main>
{{template "footer" .}}
		</div>
	</div>
	<script src="/static/js/app.js"></script>
</body>
</html>
{{end}}