{{define "terms-of-use"}}
{{template "header" .}}
			<main class="content">
				<div class="container-fluid p-0">
					<h1 class="h3 mb-3">{{.HeaderTitle}}</h1>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
<p>
Please read these terms of use ("terms of use", "agreement") carefully before using CloudAdmin
website (“website”, "service") operated by Packetflinger Industries ("us", 'we", "our").
</p>
<h3>Conditions of use</h3>
<p>
By using this website, you certify that you have read and reviewed this Agreement and that you
agree to comply with its terms. If you do not want to be bound by the terms of this Agreement,
you are advised to leave the website accordingly. Packetflinger Industries only grants use and access of this
website, its products, and its services to those who have accepted its terms.
</p>
<h3>Privacy policy</h3>
<p>
Before you continue using our website, we advise you to read our <a href="/privacy-policy">privacy policy</a> regarding our user data collection. It will help you better understand our practices.
</p>
<h3>Age restriction</h3>
<p>
You must be at least 18 (eighteen) years of age before you can use this website. By using this
website, you warrant that you are at least 18 years of age and you may legally adhere to this
Agreement. Packetflinger Industries assumes no responsibility for liabilities related to age misrepresentation.
</p>
<h3>Intellectual property</h3>
<p>
You agree that all materials, products, and services provided on this website are the property of
Packetflinger Industries, its affiliates, directors, officers, employees, agents, suppliers, or licensors including all
copyrights, trade secrets, trademarks, patents, and other intellectual property. You also agree
that you will not reproduce or redistribute the Packetflinger’s intellectual property in any way,
including electronic, digital, or new trademark registrations.
</p>
<p>
You grant Packetflinger Industries a royalty-free and non-exclusive license to display, use, copy, transmit, and
broadcast the content you upload and publish. For issues regarding intellectual property claims,
you should contact the company in order to come to an agreement.
</p>
<p>
<h3>User accounts</h3>
<p>
As a user of this website, you may be asked to register with us and provide private information.
You are responsible for ensuring the accuracy of this information, and you are responsible for
maintaining the safety and security of your identifying information. You are also responsible for
all activities that occur under your account.
</p>
<p>
If you think there are any possible issues regarding the security of your account on the website,
inform us immediately so we may address it accordingly.
</p>
<p>
We reserve all rights to terminate accounts, edit or remove content in their
sole discretion.
</p>
<h3>Applicable law</h3>
<p>
By visiting this website, you agree that the laws of New York State, without regard to principles of
conflict laws, will govern these terms and conditions, or any dispute of any sort that might come
between Packetflinger Industries and you, or its business partners and associates.
</p>
<h3>Disputes</h3>
<p>
Any dispute related in any way to your visit to this website or to products you purchase from us
shall be arbitrated by state or federal court and you consent to exclusive jurisdiction
and venue of such courts.
</p>
<h3>Indemnification</h3>
<p>
You agree to indemnify Packetflinger Industries and its affiliates and hold Packetflinger Industries harmless against legal claims
and demands that may arise from your use or misuse of our services. We reserve the right to
select our own legal counsel.
</p>
<h3>Limitation on liability</h3>
<p>
Packetflinger Industrires is not liable for any damages that may occur to you as a result of your misuse of our
website.
</p>
<p>
Packetflinger Industries reserves the right to edit, modify, and change this Agreement any time. This Agreement is an understanding
between Packetflinger Industries and the user, and this supersedes and replaces all prior agreements regarding
the use of this website.
</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
{{template "footer" .}}
		</div>
	</div>
	<script src="/static/js/app.js"></script>
</body>
</html>
{{end}}